automation/n8n_Realtime_Trend_Scraper.json
{
  "name": "n8n_Realtime_Trend_Scraper",
  "nodes": [
    {
      "parameters": {
        "path": "trend-scraper",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "url": "https://suggestqueries.google.com/complete/search",
        "queryParametersUi": {
          "parameter": [
            { "name": "client", "value": "firefox" },
            { "name": "q", "value": "={{$json[\"query\"][\"q\"]}}" }
          ]
        }
      },
      "name": "Google Suggest API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [350, 300]
    },
    {
      "parameters": {
        "functionCode": "const suggestions = $json[1];\nreturn suggestions.map(s => ({\n  json: {\n    keyword: s,\n    type: 'Trending Search',\n    relevance: Math.floor(Math.random() * 20) + 80\n  }\n}));"
      },
      "name": "Format Trends",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Output Trends",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Google Suggest API", "type": "main", "index": 0 }]]
    },
    "Google Suggest API": {
      "main": [[{ "node": "Format Trends", "type": "main", "index": 0 }]]
    },
    "Format Trends": {
      "main": [[{ "node": "Output Trends", "type": "main", "index": 0 }]]
    }
  }
}
